.lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 600px) {
    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}

.list {
    list-style-position: inside;
    padding: 15px;
    border: dashed 2px white;
}

.list a {
    font-weight: bold;
}

.blue, .blue a {
    background-color: #93D1F0;
    color: #0F4D6C;
}

.purple, .purple a {
    background-color: #C0BCDC;
    color: #272343;
}

.red, .red a {
    background-color: #F093A0;
    color: #5A0C17;
}

.yellow, .yellow a {
    background-color: #FEED9A;
    color: #655401;
}

.green, .green a {
    background-color: #9AFEC9;
    color: #016530;
}