@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
	background-color: #90d0db;
	color: #826c48;
	font-family: Pacifico;
	font-size: 200%;
	text-align: center;
}

#comparatron {
	border: dashed 5px #90d0db;
	background: url(ricepaper.png);
	padding-top: 50px;
	padding-bottom: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-shadow: #ffffff 2px 2px;
}

#name{
	background: none;
	border: none;
	font-family: inherit;
	font-size: 200%;
	color: inherit;
}

button {
	border: none;
	background-color: #74b2bc;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	margin-top: 20px;
	border: dashed 2px #90d0db;
	transform: rotate(2deg);
}

button:hover, button:focus {
	background-color: #6fadb7;
}

button:active {
	background-color: #619ba5;
}