@import url(http://fonts.googleapis.com/css?family=Pacifico);

body {
	background-color: #e8dcb4;
	color: #811720;
	font-family: Pacifico;
	font-size: 200%;
	text-align: center;
}

#comparatron {
	border: dashed 5px #e8dcb4;
	background: url(ricepaper.png);
	padding-top: 100px;
	padding-bottom: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-shadow: #3c0a0f 2px 2px;
}

#yourthing {
	background: none;
	border: none;
	border-bottom: dashed 3px #811720;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

button {
	border: none;
	background-color: #dac585;
	font-family: inherit;
	color: inherit;
	font-size: inherit;
	margin-top: 20px;
	border: dashed 2px #e8dcb4;
	transform: rotate(2deg);
}

button:hover, button:focus {
	background-color: #d5be75;
}

button:active {
	background-color: #ceb35e;
}