<!DOCTYPE html>
<html>
	<head>
		<title>theycallmezeal - {{page.title}}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<link href="/css/style.css" rel="stylesheet" media="screen">
		{% if page.css %}
			{% for stylesheet in page.css %}
				<link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
			{% endfor %}
		{% endif %}
	</head>
	<body>
		<header>
				<h1><a href="/index">theycallmezeal</a></h1>
				<ul>
					<li><a href="/about">ABOUT</a></li>
					<li><a href="/portfolio">PORTFOLIO</a></li>
					<li><a href="/writing">WRITING</a></li>
				</ul>
		</header>
		
		<main>
			<div id="title">
				<h1>{{page.title}}</h1>
				<h2 id="date">{{ page.date | date: '%B %d, %Y' }}</h2>
				<h2>{{page.subtitle}}</h2>
				<hr>
			</div>
			{{content}}
		</main>
		
	</body>
</html>